In [320]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import math

import collections

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from scipy.stats import pearsonr

In [282]:
dataset = pd.read_csv('/home/jbrun0r/Documentos/scripts/datasets/ceara.csv')
X = dataset.casos
Y = dataset.mortes

In [283]:
dataset

    semana  casos  mortes
0       18    434      38
1       19    607      38
2       20    337      40
3       21    562      43
4       22    720      38
5       23   2683      27
6       24   2766       8
7       25   5080      25
8       26  12040      48
9       27   9987      88
10      29  13608      35
11      30   8289      41
12      31   6849      32
13      32   4557      41
14      33   2839      32
15      34   5455      29
16      35   1418      32
17      36    843      28
18      37   1115      17
19      38    626      21
20      39    778      38
21      40    427      40
22      41    146       4
23      42    673      61
24      44    394      44

In [321]:
def Calcula_Dist_Freq(lista = [], b = True):
    if b == True:
        absoluta_simples = []
        repetidos = collections.Counter(lista)
        for i in range(len(lista)):
            vfi = repetidos[(lista[i])]
            absoluta_simples.append(vfi)

        total = 0
        for i in range(len(lista)):
            total = total + absoluta_simples[i]
        
        absoluta_acumulada = []
        vaa = 0
        for i in range(len(lista)):
            vaa = vaa + absoluta_simples[i]
            absoluta_acumulada.append(vaa)

        relativa_simples = []
        for i in range(len(lista)):
            vrs = ((absoluta_simples[i])/total)*100
            relativa_simples.append(vrs)

        relativa_acumulada = []
        vra = 0
        for i in range(len(lista)):
            vra = vra + relativa_simples[i]
            relativa_acumulada.append(vra)
            
        # absoluta_acumulada, relativa_simples, relativa_acumulada = Calcula_Freq(lista, absoluta_simples)
        distribuição = pd.DataFrame({ "Mortes": lista,
        "Absoluta simples": absoluta_simples,
         "Relativa Simples": relativa_simples,
         "Absoluta Acumulada": absoluta_acumulada,
         "Relativa Acumulada": relativa_acumulada})

        return distribuição


    if b == False:
        at = lista.max() - lista.min()
        # MÉTODO PRÁTICO
        # 5, se N<25
        # raiz de N, se N>=25
        k = math.sqrt(len(lista))
        h = at/k
        # Arredondamento para MAIS, para não haver vars fora da tabela
        h = math.ceil(h)
        
        intervalos = []
        ocorrencias = []
        menor = round(lista.min(),1)
        menor_amp = round(menor+h,1)
        valor = menor
        while valor < lista.max():
            intervalos.append('{} |- {}'.format(round(valor,1),round(valor+h,1)))
            aux = 0
            for i in range(len(lista)):

                # Tratamento para considerar o ultimo valor
                um = 1
                if (valor+h) == lista.max():
                    um = 0

                # Verifica quantas vars estão dentro daque intervalo    
                if valor <= lista[i] <((valor+h)-um):
                    aux = aux +1

            # Adiciona a quantidade de ocorrencias em cada intervalo        
            if aux != 0:
                ocorrencias.append(aux)
            else:
                ocorrencias.append(0)

            # Salta para o próximo intervalo 
            valor += h

        absoluta_acumulada = []
        vaa = 0
        for i in range(len(ocorrencias)):
            if ocorrencias[i] != 0:
                vaa = vaa + ocorrencias[i]
                absoluta_acumulada.append(vaa)
            else:
                absoluta_acumulada.append(0)

        total = 0
        for i in range(len(ocorrencias)):
            total = total + ocorrencias[i]

        relativa_simples = []
        for i in range(len(ocorrencias)):
            if ocorrencias[i] != 0:
                vrs = ((ocorrencias[i])/total)*100
                relativa_simples.append(vrs)
            else:
                relativa_simples.append(0)

        relativa_acumulada = []
        vra = 0
        for i in range(len(ocorrencias)):
            if relativa_simples[i] != 0:
                vra = vra + relativa_simples[i]
                relativa_acumulada.append(vra)
            else:
                relativa_acumulada.append(0)

        distribuição = pd.DataFrame({    
        "Intervalos": intervalos,
        "Ocorrências": ocorrencias,
        "Relativa Simples": relativa_simples,
        "Absoluta Acumulada": absoluta_acumulada,
        "Relativa Acumulada": relativa_acumulada})

        return distribuição

In [322]:
Calcula_Dist_Freq(Y, False)

,Intervalos,Ocorrências,Relativa Simples,Absoluta Acumulada,Relativa Acumulada
0,4 |- 21,3,12.500000,3,12.500000
1,21 |- 38,9,37.500000,12,50.000000
2,38 |- 55,11,45.833333,23,95.833333
3,55 |- 72,1,4.166667,24,100.000000
4,72 |- 89,0,0.000000,0,0.000000

In [286]:
Calcula_Dist_Freq(Y, True)

,Mortes,Absoluta simples,Relativa Simples,Absoluta Acumulada,Relativa Acumulada
0,38,4,8.510638,4,8.510638
1,38,4,8.510638,8,17.021277
2,40,2,4.255319,10,21.276596
3,43,1,2.127660,11,23.404255
4,38,4,8.510638,15,31.914894
5,27,1,2.127660,16,34.042553
6,8,1,2.127660,17,36.170213
7,25,1,2.127660,18,38.297872
8,48,1,2.127660,19,40.425532
9,88,1,2.127660,20,42.553191
10,35,1,2.127660,21,44.680851
11,41,2,4.255319,23,48.936170
12,32,3,6.382979,26,55.319149
13,41,2,4.255319,28,59.574468
14,32,3,6.382979,31,65.957447
15,29,1,2.127660,32,68.085106
16,32,3,6.382979,35,74.468085
17,28,1,2.127660,36,76.595745
18,17,1,2.127660,37,78.723404
19,21,1,2.127660,38,80.851064
20,38,4,8.510638,42,89.361702
21,40,2,4.255319,44,93.617021
22,4,1,2.127660,45,95.744681
23,61,1,2.127660,46,97.872340
24,44,1,2.127660,47,100.000000